.modal .modal-dialog{
	position: relative;
	margin: 0px;
	width: 500px;
	height: 100%;
}

.modal .modal-content{	
	width:100%;
}	

.modal.fade .modal-dialog{
	right: 0px;
	top: 0%;  
	transition: opacity 1s linear, right 3s ease;
}

.modal.fade.in .modal-dialog{
	position: relative;  
	right: 0px;
	top: 0%;  
}